In [30]:
import pandas as pd
import numpy as np

In [3]:
df_copy=pd.read_csv('../inputs/train.csv')
df=df_copy.copy()

In [4]:
pd.options.display.max_columns=None
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [11]:
df.shape

(8068, 11)

In [25]:
feats=[f for f in df.columns if f not in ['ID','Age','Work_Experience','Family_Size'] ]
for col in feats:
    print(col,df[col].value_counts())

Gender Male      4417
Female    3651
Name: Gender, dtype: int64
Ever_Married Yes    4643
No     3285
Name: Ever_Married, dtype: int64
Graduated Yes    4968
No     3022
Name: Graduated, dtype: int64
Profession Artist           2516
Healthcare       1332
Entertainment     949
Engineer          699
Doctor            688
Lawyer            623
Executive         599
Marketing         292
Homemaker         246
Name: Profession, dtype: int64
Spending_Score Low        4878
Average    1974
High       1216
Name: Spending_Score, dtype: int64
Var_1 Cat_6    5238
Cat_4    1089
Cat_3     822
Cat_2     422
Cat_7     203
Cat_1     133
Cat_5      85
Name: Var_1, dtype: int64
Segmentation D    2268
A    1972
C    1970
B    1858
Name: Segmentation, dtype: int64

In [12]:
df.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

Make new category 'None' for Ever_Married,Graduate,Profession,

In [24]:
for c in ['Age','Work_Experience','Family_Size']: 
    print(c,df[c].nunique())
    print(df[c].unique())

Age 67
[22 38 67 40 56 32 33 61 55 26 19 70 58 41 31 79 49 18 36 35 45 42 83 27
 28 47 29 57 76 25 72 48 74 59 39 51 30 63 52 60 68 86 50 43 80 37 46 69
 78 71 82 23 20 85 21 53 62 75 65 89 66 73 77 87 84 81 88]
Work_Experience 15
[ 1. nan  0.  4.  9. 12.  3. 13.  5.  8. 14.  7.  2.  6. 10. 11.]
Family_Size 9
[ 4.  3.  1.  2.  6. nan  5.  8.  7.  9.]

In [27]:
test=pd.read_csv('../inputs/test.csv')
print(test.shape)
print(test.isnull().sum())

(2627, 10)
ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

In [57]:
nd=df.loc[df.Graduated.isnull(),:]
nd.Graduated=nd.Graduated.fillna('None')

In [60]:
nd.groupby('Profession')['Graduated'].count()

Profession
Artist           14
Doctor            5
Engineer          4
Entertainment    12
Executive         5
Healthcare       12
Homemaker         2
Lawyer           12
Marketing         5
Name: Graduated, dtype: int64